@model OfertyPracyModel

@using Microsoft.AspNetCore.Identity
@using Katorgowo.Areas.Identity.Data
@using Katorgowo.Models

@namespace Katorgowo.Areas.Identity
@inject SignInManager<DBUser> SignInManager
@inject UserManager<DBUser> UserManager

<form asp-action="Wyslij">
    <input asp-for="IdRekrutera" type="hidden" value="@UserManager.GetUserId(User)" />
    <p>Tytuł ogłoszenia</p>
    <input asp-for="Tytuł" type="text" placeholder="Tytuł ogłoszenia" />
    <p>Kategoria</p>
    <select asp-for="Kategoria">
        @{
            foreach (var item in Listy.Kategoria)
            {
                <option>@item</option>
            }
        }
    </select>
    <p>Opis</p>
    <input asp-for="Opis" type="text" placeholder="Opis" />
    <p>Data ważności</p>
    <input asp-for="DataWaznosci" type="date" placeholder="7"/>

    <p>Wymagania</p>
    <div id="requirements">
        <!-- Dynamiczne pola tekstowe będą dodawane tutaj -->
        <input asp-for="Wymagania" type="text" placeholder="Wymaganie">
    </div>
    <button type="button" id="add-requirement-btn">Dodaj wymaganie</button>

    <p>Wynagrodzenie</p>
    <input asp-for="Wynagrodzenie" type="text" placeholder="1000zł" />
    <p>Wymiar pracy</p>
    <select asp-for="WymiarPracy">
        @{
            foreach (var item in Listy.WymiarPracy)
            {
                <option>@item</option>
            }
        }
    </select>
    <p>Rodzaj umowy</p>
    <select asp-for="RodzajUmowy">
        @{
            foreach (var item in Listy.TypyUmowy)
            {
                <option>@item</option>
            }
        }
    </select>
    <!--
    <p>Benefity</p>
    <div id="benefits">
        Dynamiczne pola tekstowe będą dodawane tutaj
        <input asp-for="Benefity" type="text" placeholder="benefit">
    </div>
    <button type="button" id="add-benefit-btn">Dodaj benefit</button>
     -->
    <input type="submit" value="wyślij" />
</form>

<script>
    //MUSI BYĆ POD FORMULARZEM BO INACZEJ RACZEJ NIE ZADZIAŁA
    //tworzenie dodatkowych pól dla wymagań i benefitów
    document.getElementById('add-requirement-btn').addEventListener('click', function () {
        var input = document.createElement('input');
        input.type = 'text';
        input.placeholder = 'wymaganie';

        var container = document.getElementById('requirements');
        container.appendChild(input);
    });

    document.getElementById('add-benefit-btn').addEventListener('click', function () {
        var input = document.createElement('input');
        input.type = 'text';
        input.placeholder = 'benefit';

        var container = document.getElementById('benefits');
        container.appendChild(input);
    });
</script>
