@model OfertyPracyModel

@using Microsoft.AspNetCore.Identity
@using Katorgowo.Areas.Identity.Data
@using Katorgowo.Models

@namespace Katorgowo.Areas.Identity
@inject SignInManager<DBUser> SignInManager
@inject UserManager<DBUser> UserManager

<div>
    <p>Ważna do: @Model.DataWaznosci</p>
    <h1>@Model.Tytuł</h1>
    <div>
        <div>
            <p>@Model.Opis</p>
        </div>
        <div>
            <input type="image" />
            <p>Modlel: Nazwa firmy</p>
        </div>
    </div>
    <h2>Wymagania:</h2>
    <div>
        @{
            foreach (var item in Model.Wymagania)
            {
                <p>@item</p>
            }
        }
    </div>
</div>

