@model RecruitmentProcess.Models.RekrutacjaModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RekrutacjaModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdAplikacji" class="control-label"></label>
                <input asp-for="IdAplikacji" class="form-control" />
                <span asp-validation-for="IdAplikacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOgloszenia" class="control-label"></label>
                <input asp-for="IdOgloszenia" class="form-control" />
                <span asp-validation-for="IdOgloszenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRekrutera" class="control-label"></label>
                <input asp-for="IdRekrutera" class="form-control" />
                <span asp-validation-for="IdRekrutera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUzytkownika" class="control-label"></label>
                <input asp-for="IdUzytkownika" class="form-control" />
                <span asp-validation-for="IdUzytkownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc" class="control-label"></label>
                <input asp-for="Tresc" class="form-control" />
                <span asp-validation-for="Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAplikacji" class="control-label"></label>
                <input asp-for="DataAplikacji" class="form-control" />
                <span asp-validation-for="DataAplikacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlikCV" class="control-label"></label>
                <input asp-for="PlikCV" class="form-control" />
                <span asp-validation-for="PlikCV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
